Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST} !^www\.patrickstephan\.me
RewriteRule (.*) http://www.patrickstephan.me/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]